<footer class="tab-bar">
  <div class="tab-bar__item" [routerLink]="['/system/next-match']" routerLinkActive="tab-bar__item--active">
    <img src="../../../assets/icons/next-match.svg">
  </div>
  <div class="tab-bar__item" [routerLink]="['/system/matches']" routerLinkActive="tab-bar__item--active">
    <img src="../../../assets/icons/matches.svg">
  </div>
  <div class="tab-bar__item" [routerLink]="['/system/players']" routerLinkActive="tab-bar__item--active">
    <img src="../../../assets/icons/players.svg">
  </div>
</footer>